FINAL_APP_REDIRECT_URL="https://sso.pfadimh.ch/realms/pfadimh-sso/broker/oidc/endpoint"
AUTHORIZE_BASE_URL="https://db.scout.ch/oauth/authorize"
PROXY_REDIRECT_URI="https://sso.pfadimh.ch/callback"
TOKEN_ENDPOINT_URL="https://db.scout.ch/oauth/token"
USERINFO_ENDPOINT_URL="https://db.scout.ch/oauth/userinfo"
ISSUER_BASE_URL=https://sso.pfadimh.ch/realms/pfadimh-sso
CLIENT_ID=midata-proxy
CLIENT_SECRET=rMrDol42K1vs2U3OsEVRl6U6JoZQC3RK
BASE_URL=https://localhost
SECRET=random-secret-key-for-jwt-signing-and-verification
DEBUG=express-openid-connect*
CONFIGURATION_JSON='{
    "groups": [
        {
            "group_id": 1145,
            "roles": [
                "Group::Kantonalverband::PowerUser"
            ],
            "profile": "member"
        },
        {
            "group_id": 1172,
            "roles": [
                "Group::Abteilung::Abteilungsleitung",
                "Group::Abteilung::Webmaster"
            ],
            "profile": "leader"
        },
        {
            "group_id": 1887,
            "roles": [
                "Group::Pfadi::Adressverwaltung",
                "Group::Pfadi::Mitleitung"
            ],
            "profile": "leader"
        },
        {
            "group_id": 11689,
            "roles": [
                "Group::KantonalesGremium::Mitglied"
            ],
            "profile": "member"
        },
        {
            "group_id": 11990,
            "roles": [
                "Group::BundesKommission::Mitglied"
            ],
            "profile": "member"
        },
        {
            "group_id": 12460,
            "roles": [
                "Group::AbteilungsGremium::Leitung"
            ],
            "profile": "leader"
        }
    ]
}'